In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("./data/file2.csv")

In [17]:
df.sample(5)

,Unnamed: 0,results_found,results_start,results_shown,restaurants
292,292,309,21,20,"[{'restaurant': {'R': {'res_id': 302089}, 'api..."
186,186,1263908,21,20,"[{'restaurant': {'R': {'res_id': 16668008}, 'a..."
301,301,246,21,20,"[{'restaurant': {'R': {'res_id': 1096}, 'apike..."
525,525,44,21,20,"[{'restaurant': {'R': {'res_id': 6013}, 'apike..."
546,546,17151,21,20,"[{'restaurant': {'R': {'res_id': 313256}, 'api..."

In [20]:
type(df["restaurants"].iloc[0])

str

we can see type of data is string but in actual they are of type list of dict

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     550 non-null    int64
 1   results_found  550 non-null    int64
 2   results_start  550 non-null    int64
 3   results_shown  550 non-null    int64
 4   restaurants    550 non-null    object
dtypes: int64(4), object(1)
memory usage: 21.6+ KB

ways we can handle :- <br>
     1. write regex to extract, it will work for data when we have less depth dict or list of dict <br>
     3. Use eval(), eval treat string in its desired form. <br>

In [29]:
number = "[1,2,3,4,5]"
print(f"{number}, {type(number)}")

print(f"{eval(number)}, {type(eval(number))}")

[1,2,3,4,5], <class 'str'>
[1, 2, 3, 4, 5], <class 'list'>

from above example u can see that eval automatically detected type as list

Let's take out data from restaurants columns

In [32]:
import json

In [105]:
eval(df["restaurants"].iloc[0])[0]["restaurant"]["user_rating"]

{'aggregate_rating': '3.3',
 'rating_text': 'Average',
 'rating_color': 'CDD614',
 'votes': '26'}

making function which help us to get data

In [116]:
class FlattenDict:
    def __init__(self):
        self.data_dic = {"id":[],"name":[], "address":[],
            "cuisines": [],"average_cost_for_two":[],
            "has_online_delivery":[], "locality": [],
            "city":[],"country_id":[], "zipcode":[],
            "aggregate_rating":[], "rating_text": [],
            "votes":[]
           }


    def get_data(self, data):
        """
        find out required data and return:
        """

        eval_data = eval(data)
        for i in eval_data:
            self.data_dic["id"].append(i["restaurant"]["id"])
            self.data_dic["name"].append(i["restaurant"]["name"])
            self.data_dic["cuisines"].append(i["restaurant"]["cuisines"])
            self.data_dic["average_cost_for_two"].append(i["restaurant"]["average_cost_for_two"])
            self.data_dic["has_online_delivery"].append(i["restaurant"]["has_online_delivery"])

            self.data_dic["aggregate_rating"].append(i["restaurant"]["user_rating"]["aggregate_rating"])
            self.data_dic["rating_text"].append(i["restaurant"]["user_rating"]["rating_text"])
            self.data_dic["votes"].append(i["restaurant"]["user_rating"]["votes"])
            ### location and address related data
            self.data_dic["address"].append(i["restaurant"]["location"]["address"])
            self.data_dic["locality"].append(i["restaurant"]["location"]["locality"])
            self.data_dic["city"].append(i["restaurant"]["location"]["city"])
            self.data_dic["country_id"].append(i["restaurant"]["location"]["country_id"])
            self.data_dic["zipcode"].append(i["restaurant"]["location"]["zipcode"])

            
    def convert_to_df(self):
        
        return pd.DataFrame(self.data_dic)

In [117]:
flatten_dict = FlattenDict()

In [121]:

    
df["restaurants"].apply(lambda x: flatten_dict.get_data(x))

0      None
1      None
2      None
3      None
4      None
       ...
545    None
546    None
547    None
548    None
549    None
Name: restaurants, Length: 550, dtype: object

In [122]:
flatten_dict.convert_to_df()

,id,name,address,cuisines,average_cost_for_two,has_online_delivery,locality,city,country_id,zipcode,aggregate_rating,rating_text,votes
0,16668008,Arigato Sushi,"14 Second Ave North, Yorkton, SK S3N 1G1",Asian,25,0,Yorkton,Yorkton,37,S3N 1G1,3.3,Average,26
1,801690,Mocha,"CP-1, 2nd Floor, Anand Plaza, Viram Khand-1, N...","Cafe, Italian, Continental",800,0,Gomti Nagar,Lucknow,1,226010,4.6,Excellent,567
2,17558738,Blue House Cafe,"919 Bridge St, Vernonia, OR 97064","Coffee and Tea, Mediterranean",10,0,Vernonia,Vernonia,216,97064,4.3,Very Good,88
3,16611701,Star Buffet,"58 Hanbury St, Mayfield, NSW",Asian,20,0,Mayfield,Mayfield,14,2304,2.9,Average,11
4,2100784,11th Avenue Cafe Bistro,"Opposite Assam State Museum, Dighalipukhuri, T...","Cafe, American, Italian, Continental",400,0,Uzan Bazaar,Guwahati,1,,4.1,Very Good,377
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10597,18289242,Cyber Hub Social,"Cyber Hub, DLF Cyber City, Gurgaon","Continental, American, Asian, North Indian",1500,1,"Cyber Hub, DLF Cyber City",Gurgaon,1,,4.3,Very Good,716
10598,799,Gulati,"6, Pandara Road Market, New Delhi","North Indian, Mughlai",1500,1,Pandara Road Market,New Delhi,1,0,4.4,Very Good,4373
10599,301998,Punjab Grill,"Pacific Mall, Tagore Garden, New Delhi",North Indian,1600,1,Tagore Garden,New Delhi,1,,4.3,Very Good,1252
10600,307113,Diggin,"Anand Lok Shopping Centre, Opposite Gargi Coll...","Italian, Continental, Cafe",1400,1,Anand Lok,New Delhi,1,,4.2,Very Good,2131
10601,18345728,Masala Library,"21 A, Janpath, New Delhi",Modern Indian,5000,0,Janpath,New Delhi,1,,4.9,Excellent,408

In [111]:
# pd.DataFrame(get_data(df["restaurants"].iloc[0]))